<ul class="list-group">
    <li class="list-group-item list-group-item-dark">Site Menu</li>
    <li class="list-group-item"><a href="/php/php">소개</a></li>
    <li class="list-group-item"><a href="/php/install">설치</a></li>
    <li class="list-group-item"><a href="/php/basic">기본문법</a></li>

    <li class="list-group-item"><a href="/php/function">함수</a></li>

    <li class="list-group-item"><a href="/php/oop">객체지향</a></li>
</ul>
<br>

<select class="form-control">
    <option>PHP 언어</option>
    <option>Mysql 데이터베이스</option>
    <option>Git교과서</option>
</select>
<br> 

<script data-ad-client="ca-pub-3321560028329475" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<br>